@use '../../scss/' as *;

.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {

    &__logo {
      @include flex(center, center);
      margin-bottom: 3rem;
    }

    @include tablet {

       &__menus > .row > * ~ * {
         margin-top: 1rem;
      }

    }

    &__menu {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }
}